<?xml version="1.0" encoding="utf-8"?>
<launch>
  <remap from="/hardware/mobile_base/cmd_vel" to="/hsrb/command_velocity"/>
  <!--param name="robot_description_semantic" textfile="$(find knowledge)/manipulation/hsrb.srdf"/-->

  <group ns="hri">
    <node name="leg_finder" pkg="leg_finder" type="leg_finder_node" output="screen" args="--hyp">
      <param name="obst_xmin" value="0.0"/>
      <param name="obst_xmax" value="0.15"/>
      <param name="obst_ymin" value="-0.13"/>
      <param name="obst_ymax" value="0.13"/>
      <param name="obst_div" value="9"/>
    </node>

    <node name="human_follower" pkg="human_follower" type="human_follower_node" output="screen" args="--move_head --pot_fields">
      <param name="distance" value="0.6"/>
    </node>
  </group>

  <!-- sample node -->
  <node name="crarry" pkg="robot_tasks" type="carry_my_luggage.py" output="screen"/>
</launch>
